* {box-sizing: border-box;}

/* Global Variables */
:root {
    --background: #f2ece4;
    --primary: #8c7d77;
    --highlight: #473B4A;
    --secondary-1: #867d8c;
    --secondary-2: #59464D;
    --dark-contrast: #25261c;
    --light-contrast: #f2ece4;
    
    /* FUN COLOR SCHEME
    --background: #d9d9d9;
    --primary: #d1c4e9;
    --highlight: #607d8b;
    --secondary-1: #b89bcc;
    --secondary-2: #536878;
    --dark-contrast: #272727;
    --light-contrast: #f2ece4;
    */
}

/* ###########################################################*/
/* ###########################################################*/
/* ###########################################################*/

/* Nav Bar Start */
.topnav {
    overflow: hidden;
    background-color: var(--primary);
  }
  
  .topnav a {
    float: left;
    display: block;
    background-color: var(--secondary-1);
    color: var(--light-contrast);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--highlight);
    color: var(--light-contrast);
  }
  
  .topnav a.pagename {
    background-color: var(--dark-contrast);
    color: var(--light-contrast);
  }
  
  .topnav a.active {
    background-color: var(--secondary-2);
    color: var(--light-contrast);
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
/* Nav Bar End */

/* ###########################################################*/
/* ###########################################################*/
/* ###########################################################*/

/* General Formating */
body {
  background-color: var(--background);
  margin: 0;
  font-family: sans-serif;
}

.centeredtxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;
}

.pageheadimg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    width: 100%;
    border-radius: 25px;
}


div {
  color: var(--dark-contrast);
}

/* ###########################################################*/
/* ###########################################################*/
/* ###########################################################*/

/* About Start */
.About {
    margin: auto;
    width: 75%;
    border: 3px solid var(--dark-contrast);
    padding: 15px;
    margin-bottom: 25px
  }
  .aboutimg-container {
    position: relative;
    border-radius: 25px;
    float: right;
    margin: auto;
    padding: 15px;
    height: 400px; 
    width: auto; 
    object-fit: contain
  }
  .abouttext {
      text-align: justify;
      font-size: 115%;
  }
/* About End */

/* ###########################################################*/
/* ###########################################################*/
/* ###########################################################*/

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--primary);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: var(--light-contrast);
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: var(--secondary-2);
    color: var(--light-contrast);
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: var(--secondary-1);
    color: var(--light-contrast);
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }